body{
	background-color: #002633;
	font-family: Raleway;
}

.content{
	position: relative;
	/*nos posicionamos en el centro del navegador*/
	top:50%;
	left:50%;
	margin-left:-200px;
	margin-top:50px;

	padding: 40px 20px;
	background-color: #ddd;
	width: 250px;
	border-radius: 20px;
	display: block;
	overflow: hidden;
	box-shadow: 0 0 20px #aaa;
}

.icon, .label{
	padding: 20px;
}

.logo{
	width: 200px;
}

.label{
	display: block;
	width: 200px;
	height: 50px;
}

.label input[type=text],.label input[type=password]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.submit{
	display: block;
	width: 200px;
	padding: 20px;
	background-color: green;
	color:#fff;
	border-style: none;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 0 10px #aaa;
	cursor: pointer;
	font-family: Raleway;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .header_title{
        margin-left:40px;
		margin-top:0px;
    }
}